body{
  background-color: #D3D3D3;
}

#holder {
  top:40px;
  left:8px;
  bottom: 8px;
  right: 8px;
  position: absolute;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: solid 1px #000;
  background-color: white;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#menu_bar{
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  float: left;
}

.ui-dialog{
  font-size: 62.5%;
}

.ui-dialog-content{
  border: 1px solid #000;
}

input.text{
  margin-bottom: 12px;
  width: 95%;
  padding: 5px;
}

#tip{
  display: none;
  position: absolute;
  border: 1px solid black;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: rgba(255, 255, 0, 0.15);
  padding: 3px;
}

#tip td{
  vertical-align: top;
}

.small_button{
  font-size: 12px;
}

.ui-icon.add_inp{
  background-image: url('images/add_inp.png');
  width: 16px;
  height: 16px;
}

.ui-icon.edit_inp{
  background-image: url('images/edit_inp.png');
  width: 16px;
  height: 16px;
}

.ui-icon.del_inp{
  background-image: url('images/del_inp.png');
  width: 16px;
  height: 16px;
}

.ui-icon.add_com{
  background-image: url('images/add_com.png');
  width: 16px;
  height: 16px;
}

.ui-icon.edit_com{
  background-image: url('images/edit_com.png');
  width: 16px;
  height: 16px;
}

.ui-icon.del_com{
  background-image: url('images/del_com.png');
  width: 16px;
  height: 16px;
}

.ui-icon.add_cor{
  background-image: url('images/add_cor.png');
  width: 16px;
  height: 16px;
}

.ui-icon.edit_cor{
  background-image: url('images/edit_cor.png');
  width: 16px;
  height: 16px;
}

.ui-icon.del_cor{
  background-image: url('images/del_cor.png');
  width: 16px;
  height: 16px;
}
